@use '@/styles/placeholders';

.tag-pvw {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
  background: var(--color-primary);
  padding: 0.35rem;
  border-radius: 5rem;

  &__title {
    padding-inline: 0.5rem;
    font-size: var(--text-xs);
    color: var(--color-light-1);
  }

  &__btn {
    display: grid;
    place-items: center;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    background: var(--color-background);
  }

  &__btn-icon {
    fill: var(--color-primary);
    stroke: var(--color-primary);
  }
}
