@use '@/styles/placeholders';

.user-page {
  max-width: var(--max-page-width);
  margin-inline: auto;

  &__info {
    @extend %parent-with-centered-children;
    flex-direction: column;
  }

  &__img-wrapper {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid var(--color-primary);
    border-radius: 100%;
  }

  &__img {
    display: block;
    width: 35px;
    height: auto;
  }

  &__title {
    @extend %title;
    margin-bottom: 0.5rem;
    position: relative;
  }

  &__verified {
    position: absolute;
    margin-left: 0.35rem;
    stroke: var(--color-primary);
  }

  &__username {
    font-size: var(--text-xs);
    font-family: var(--font-poppins);
    text-align: center;
    color: var(--color-text-accent);
  }

  &__posts {
    padding-block: 1rem;
  }

  &__posts--empty {
    margin-top: 1rem;
    color: var(--color-text-accent);
    font-size: var(--text-xs);
    text-align: center;
  }

  &__post-section {
    margin-bottom: 2rem;
  }

  &__post-title {
    @extend %title;
    margin-top: 0.75rem;
    padding-left: 0.5rem;
    text-align: left;
    font-size: var(--text-md);
    font-weight: 500;
  }

  &__post-link {
    @extend %btn-link;
    display: block;
    margin-inline: auto;
  }
}
