@use '@/styles/placeholders';

.btn-like {
  @extend %parent-with-centered-children;
  flex-direction: column;
  width: var(--content-width);
  margin-inline: auto;

  &__btn {
    @extend %parent-with-centered-children;
    gap: 0.25rem;
    border-radius: var(--border-radius);
    padding: 0.35rem 0.5rem;
    color: var(--color-light-1);
    font-size: var(--text-xs);

    &:focus {
      outline: 1px solid;
    }

    &[data-liked='true'] {
      background: var(--color-primary);
    }

    &[data-liked='false'] {
      background: rgb(150, 150, 150);
    }
  }

  &__join {
    font-size: var(--text-2xs);
    color: var(--color-text-accent);
  }
}
