@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;

.post {
  --content-width: calc(var(--max-page-width) * 0.75);

  position: relative;
  margin-inline: auto;

  &.preview {
    position: sticky;
    top: 0;
    height: 75vh;
    overflow-y: auto;
  }

  &__main {
    max-width: var(--max-page-width);
    margin-inline: auto;
    position: relative;
    text-align: center;
  }

  &__category {
    @extend %category-tag;
    display: block;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 1.25rem;
  }

  &__title {
    padding-inline: 2rem;
    font-size: var(--text-2xl);
    font-weight: 500;
    line-height: 1.15;

    @include mx.breakpoint(xl) {
      font-size: var(--text-4xl);
    }
  }

  &__meta {
    margin-block: 0.5rem 1.5rem;
    font-size: var(--text-xs);

    @include mx.breakpoint(xl) {
      font-size: var(--text-sm);
    }
  }

  &__display {
    max-width: var(--max-page-width);
    margin-inline: auto;
    margin-bottom: 0.75rem;
  }

  &__display-img {
    width: 100%;
  }

  &__display-meta {
    padding-left: 1rem;
    font-size: var(--text-4xs);
    font-style: italic;
    color: var(--color-text-accent);

    @include mx.breakpoint(xl) {
      padding-left: 0;
      font-size: var(--text-2xs);
    }
  }

  &__content {
    // Global styles for post content
    // See Post Element Map below to see actual
    // styles for rendered markdown elements
    width: clamp(300px, 75%, 600px);
    margin-block: 2rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  &__tags {
    max-width: var(--content-width);
    padding-block: 1rem;
    margin-block: 2.5rem;
    margin-inline: auto;
    border-top: 1px solid var(--color-grey-light-3);

    &-title {
      @extend %title;
      margin-bottom: 0.65rem;
    }

    &-list {
      display: flex;
      justify-content: center;
      gap: 0.45rem;
      flex-wrap: wrap;
    }

    &-item {
      @extend %category-tag;
      margin-inline: 0.25rem;
      font-size: var(--text-4xs);

      &::before {
        content: '#';
      }
    }
  }

  &__comments {
    max-width: var(--content-width);
    margin-inline: auto;

    &-title {
      @extend %title;
      padding-block: 1rem;
    }
  }

  &__featured {
    background: var(--color-grey-light-3);
    padding-block: 1.5rem;

    &-title {
      @extend %title;
      padding-block: 1rem;
    }

    &-list {
      max-width: var(--max-page-width);
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.75rem;
      padding-inline: 0.5rem;
      margin-inline: auto;

      @include mx.breakpoint(lg) {
        display: flex;
      }
    }
  }
}

/* ========== POST ELEMENT MAP ========== */
// Used for the actual post. Initially, all styles are reverted. When React-Markdown renders the elements, these are applued

.post__content {
  font-family: var(--font-poppins);
  word-wrap: break-word;
  //   line-height: 1.45;
  //   white-space: pre-wrap;

  * {
    all: revert;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h1 {
    font-size: var(--text-3xl);
  }

  h2 {
    font-size: var(--text-xl);
  }

  h3 {
    font-size: var(--text-lg);
  }

  h4 {
    font-size: var(--text-md);
  }

  p,
  li,
  code,
  blockquote {
    line-height: 1.5;
    font-size: var(--text-xs);
  }

  img {
    margin-block: 1rem;
    width: 100%;
  }

  p {
    font-weight: 300;
    line-height: 1.85;
  }

  blockquote {
    margin-left: 1.75rem;
    padding-left: 1rem;
    border-left: 5px solid var(--color-primary);
  }

  code {
    color: var(--color-text-accent);
  }

  pre {
    padding: 0.5rem;
    background: var(--color-background-accent);
  }

  li {
    padding-block: 0.125rem;
    padding-left: 0.5rem;
  }
}
