@use '@/styles/mixins' as mx;
@use '@/styles/placeholders';

.hero-pvw {
  margin-bottom: 1rem;
  //   border: 1px solid;

  &:not(:first-of-type) {
    margin-top: 2rem;
  }

  &__display {
    position: relative;
  }

  &__img {
    height: auto;
    width: 100%;
    object-fit: cover;

    &.main {
      height: 200%;
    }
  }

  &__category {
    @extend %category-tag;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &__info {
    padding-inline: 0.75rem;
  }

  &__title {
    margin-top: 1.75rem;
    margin-bottom: 0.375rem;
    font-weight: 600;

    &.main {
      font-size: var(--text-lg);
    }
  }

  &__content {
    font-size: var(--text-3xs);
    font-weight: 300;
    line-height: 0.9rem;

    &.side {
      @include mx.clamp-text(3);
    }
  }
}
