@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;

.ttl-pvw {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  max-width: 600px;

  @include mx.breakpoint(lg, max) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  &__img-wrapper {
    display: block;
    width: clamp(80px, 40%, 200px);
  }

  &__img {
    width: 100%;
  }

  &__category {
    display: block;
    width: fit-content;
    margin-bottom: 0.5rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-size: var(--text-3xs);
    color: var(--color-text-accent);
  }

  &__title {
    font-weight: 600;
    line-height: 1.25;
  }
}
