@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;

.home-page {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__section {
    max-width: var(--max-page-width);
    margin-inline: auto;

    @include mx.breakpoint(2xl, max) {
      margin-inline: 0;
      padding-inline: 1.25rem;
    }
  }

  &__section-full {
    width: 100%;
  }

  &__title {
    @extend %title;
    font-weight: 600;
  }

  &__all {
    @extend %btn-link;
    display: block;
    margin-bottom: 5rem;
  }
}
