@use '@/styles/placeholders';

.error {
  width: clamp(300px, 100%, 680px);
  margin-inline: auto;
  text-align: center;
  font-family: var(--font-poppins);

  &__status {
    display: block;
    margin-bottom: 0.75rem;
    font-size: var(--text-2xs);
    font-family: var(--font-roboto);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-text-accent);
  }

  &__main {
    margin-bottom: 1rem;
    font-size: var(--text-4xl);
    font-weight: 700;
    font-family: var(--font-poppins);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__img {
    width: 100%;
    aspect-ratio: 18 / 9;
    filter: grayscale(100);
    object-fit: cover;
  }

  &__img-credits {
    margin-top: 0.25rem;
    font-style: italic;
    font-size: var(--text-2xs);
    color: var(--color-text-accent);

    & a:link,
    & a:visited {
      color: var(--color-accent-1);
    }
  }

  &__title {
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__text {
    width: clamp(140px, 80%, 300px);
    margin-block: 0.75rem;
    margin-inline: auto;
    font-size: var(--text-xs);
  }

  &__list {
    margin-top: 1.75rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  &__item {
    @extend %btn-link;
  }
}
