@use '@/styles/mixins' as mx;
@use '@/styles/placeholders';

.nav {
  position: absolute;
  width: 100%;
  background: rgb(230, 230, 230);

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 4.5rem;
    max-width: var(--max-page-width);
    margin-inline: auto;
    padding: 2rem;
  }

  &__col-1 {
    width: fit-content;
  }

  &__label {
    display: block;
    padding-block: 0.5rem;
    font-size: var(--text-2xs);
    text-transform: uppercase;
    color: var(--color-text-accent);
  }

  &__link {
    margin-block: 0.35rem;
    padding-block: 0.15rem;
    padding-right: 0.25rem;
    font-weight: 600;

    &:focus-within,
    &:hover {
      box-shadow: 0px 1px 0px 0px currentColor;
    }

    & a:focus {
      outline: none;
    }
  }
}
