@use '@/styles/placeholders';
@use '@/styles/mixins' as mx;

.footer {
  background: var(--color-dark-2);
  color: var(--color-light-1);
  padding-block: 2.5rem;
  padding-inline: 1.5rem;

  &__wrapper {
    max-width: var(--max-page-width);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  &__col-1 {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  &__label {
    margin-bottom: 0.65rem;
    font-size: var(--text-2xs);
    color: var(--color-grey-light-3);
    text-transform: uppercase;
  }

  &__title {
    font-size: var(--text-2xl);
  }

  &__info {
    font-size: var(--text-2xs);
  }

  &__links-wrapper {
    display: flex;
    gap: 5rem;
    padding-bottom: 1rem;
    border-bottom: 0.1px solid var(--color-grey-light-2);

    @include mx.breakpoint(md, max) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__links {
    margin-bottom: 1rem;
  }

  &__link {
    margin-block: 0.375rem;
    font-size: var(--text-xs);
    cursor: pointer;
  }

  &__small {
    display: block;
    margin-top: 0.5rem;
    font-size: var(--text-3xs);
    color: var(--color-light-2);
  }
}
