@use '@/styles/placeholders';

.comment {
  margin-top: 1.5rem;
  padding-left: 1rem;
  box-shadow: -1.25px 0px 0px 0px var(--color-primary);

  &__self {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-text-alpha25);
  }

  &__top {
    position: relative;
  }

  &__btn-expand {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__btn-expand-icon {
    transition: 100ms ease-in;
    transform-origin: center;

    &[data-expanded='true'] {
      transform: rotate(180deg);
    }
  }

  &__author {
    font-weight: 500;
    margin-bottom: 0.1rem;
  }

  &__date {
    color: var(--color-text-accent);
    font-size: var(--text-2xs);
  }

  &__content {
    margin-block: 1rem;
  }

  &__interactions {
    display: flex;
    gap: 0.5rem;
    font-size: var(--text-2xs);

    & button {
      @extend %parent-with-centered-children;

      gap: 0.2rem;
      padding-inline: 0.1rem;
    }
  }

  &__like-amount {
    width: 15px;
  }
}
